
<!-- top selling product -->
<div class="top-selling">
    <style type="text/css">
        /* --- Start By Itech-Theme --*/
        @media screen and (min-width: 1199px) {

            .container,
            .container-lg,
            .container-md,
            .container-sm,
            .container-xl {
                max-width: 1600px;
            }
        }

        .product-carousel .item .btn.shop-now {
            width: 145px;
            height: 50px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            color: #fff;
            text-transform: capitalize;
            background: #1c3d72;
            margin: auto;
        }

        .product-carousel .item .card {
            border: 1px solid #f3f5f8;
            background: #fff;
            border-radius: 5px;
        }

        .product-carousel .item .card .card-body {
            padding: 30px 15px;
        }

        .product-carousel .item .card img {
            margin-bottom: 30px;
        }

        .product-carousel .item .card h5 {
            font-size: 18px;
            margin-bottom: 15px;
            color: #1c3d72;
        }

        .product-carousel .item .card p {
            font-size: 22px;
            font-weight: 600;
            color: #f43739;
        }

        .product-carousel .item .card .btn {
            margin-top: 30px;
        }

        .top-selling-tab-menu {
            margin-bottom: 30px;
        }

        .top-selling-tab-menu .nav-item .nav-link {
            padding: 15px 20px;
            color: #7f7f7f;
            font-size: 18px;
            border: 1px solid transparent;
        }

        .top-selling-tab-menu .nav-item .nav-link.active {
            background: transparent;
            border: 1px dashed #f43739;
            color: #f43739;
        }

        .top-selling {
            padding: 70px 0;
        }

        .top-selling .sec-title h2 {
            color: #000;
        }

        .product-carousel.owl-theme .owl-nav .owl-prev span,
        .product-carousel.owl-theme .owl-nav .owl-next span {
            color: #fff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: #f43739;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .product-carousel.owl-theme .owl-nav [class*=owl-]:hover {
            background: transparent;
        }

        .product-carousel.owl-theme .owl-nav .owl-prev,
        .product-carousel.owl-theme .owl-nav .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .product-carousel.owl-theme .owl-nav .owl-prev {
            left: -60px;
        }

        .product-carousel.owl-theme .owl-nav .owl-next {
            right: -60px;
        }

        .product-carousel.owl-theme .owl-item {
            width: 370px !important;
        }

        .itech-arrow {
            background: red;
            color: white;
            border: 1px solid red;
            border-radius: 50px;
            font-size: 21px;
            padding: 5px 12px;
        }
        .sec-title {
            text-align: center;
            margin-bottom: 30px;
        }
        .sec-title h2 {
            font-weight: 800;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="sec-title">
                    <h2>{{ section.settings.product_slider_section_title }}</h2>
                </div>
            </div>
        </div>
        <!-- tab menu -->
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <ul class="nav nav-pills top-selling-tab-menu justify-content-center" id="pills-tab" role="tablist">

                    {% for block in section.blocks %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if forloop.index == 1 %} active {% endif %}" data-toggle="pill" href="#pills-{{ forloop.index }}" role="tab" aria-selected="true">{{ block.settings.collection_name }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <!-- tabs -->
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <!-- tab panel -->
                    {% for block in section.blocks %}
                    <div class="tab-pane fade {% if forloop.index == 1 %}show active {% endif %}" id="pills-{{ forloop.index }}">
                        <div class="owl-carousel owl-theme product-carousel">
                        <!-- item -->
                        {% for product in block.settings.product_collection.products %}
                            <div class="item">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="{{ product.featured_image.src | img_url: '' }}" class="img-fluid" alt="">
                                       <a href="{{ product.url }}"><h5>{{ product.title | truncate: 65 }}</h5></a>
                                        <p>{{ product.price | money }}</p>

                                        <form method="post" action="/cart/add">
                                            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                            <input min="1" type="number" id="quantity" hidden name="quantity" value="1"/>
                                            <input type="submit" value="Add to cart" class="btn shop-now" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor%}
                        <!-- item -->

                        </div>
                    </div>
                    {% endfor %}
                    <!-- tab panel -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top selling product -->

{% schema %}
{
    "settings": [
        {
            "type": "text",
            "id": "product_slider_section_title",
            "label": "Product Section Title",
            "default": "Top selling products"
        }
    ],
    "blocks":[
        {

        "name": "Product Section",
        "type": "product",
        "settings": [
                {
                    "type": "text",
                    "id": "collection_name",
                    "label": "Collection Name"
                },
                {
                    "type": "collection",
                    "id": "product_collection",
                    "label": "Products"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Product Silder",
        "blocks": [
          {
            "type": "product"
          }
        ]
      }
    ]
}

{% endschema %}
